#main {
    background-color: #cdcdcd;
    padding: 25px 35px;
    min-height: 200px;

    #news {
        opacity: 0;

        .new {
            margin-bottom: 15px;
            position: relative;
            left: -100px;
            opacity: 0;

            .new-content {
                background-color: #ffffff;
                display: none;
                margin-top: 15px;
                padding-bottom: 10px;

                h3 {
                    @include fonts(#bcc8cd, $open, 26, $regular);
                    line-height: normal;
                    margin-bottom: 10px;
                    margin-top: 0;
                    padding-top: 10px;
                    padding-right: 15px;
                    text-transform: uppercase;
                    word-wrap: break-word;
                }

                p {
                    @include fonts(#bcc8cd, $open, 19, $light);
                    line-height: normal;
                    padding-right: 15px;
                    word-wrap: break-word;
                }
            }

            .new-preview {
                background-color: #ffffff;
                cursor: pointer;
                height: 120px;
                padding: 10px 15px;

                &.active,
                &:hover {
                    h2 { color: #bcc8cd; }
                    img { filter: grayscale(0); -webkit-filter: grayscale(0); }
                }

                h2 {
                    @include fonts(#e8eaea, $open, 28, $regular);
                    line-height: normal;
                    margin-bottom: 0;
                    margin-top: 0;
                    padding-top: 15px;
                    text-transform: uppercase;
                    transition: color .25s ease-in-out;
                    word-wrap: break-word;
                }

                img {
                    filter: grayscale(1); 
                    -webkit-filter: grayscale(1);
                    transition: all .35s ease-in-out;
                }
            }
        }
    }
}